# {{ ansible_managed }}
driftfile /var/lib/ntp/ntp.drift

leapfile /usr/share/zoneinfo/leap-seconds.list

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% if common__ntp_servers %}
{% for i in common__ntp_servers %}
server {{ i }} iburst
{% endfor %}
{% endif %}
{% for i in common__ntp_servers_backup %}
pool {{ i }} iburst
{% endfor %}

restrict -4 default kod notrap nomodify nopeer noquery limited
restrict -6 default kod notrap nomodify nopeer noquery limited

restrict 127.0.0.1
restrict ::1

restrict source notrap nomodify noquery
